*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
}
html{scroll-behavior: smooth;}
:root{
  --main-color:#5ef4ab;
  --txt-color:#374266;
}
body{
  color: var(--txt-color);
  background: #eef8ff;
  font-family: 'Roboto',sans-serif;
  display: flex;
  flex-direction: column;
}
.container{
  padding: 0 50px;
}
a{color: inherit;transition: 0.3s ease;}
.logo{
  background: #fff;
  font-family: serif;
  font-size: 30px;
  font-weight: bolder;
  padding: 0px 8px;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
nav ul{
  display: flex;
  gap:50px;
}
nav li{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
nav li:hover{
  opacity: 0.8;
}
nav .req{
  padding: 8px 25px;
  background: linear-gradient(100deg, var(--main-color), #c0ffe0);
  color: #fff;
  border-radius: 30px;
  font-weight: 700;
  font-size: 15px;
}
nav .req:hover{opacity: 0.8;}
/* About section */
section{
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1{
  /* text-align: center; */
}
section h2{
  
}
section p{
  /* width: 100%; */
  line-height: 1.7;
}
section .imgs{

}
section img{
  width: min-content;
}